@import '../mixins/shadow';

.artist-link{

  box-sizing: border-box;

  img{
    @include box-shadow;
    width: 100%;
  }

  .artist-name{
    color: #656565;
    font-size: 12px;
    font-weight: 200;
  }
}