@import '../mixins/transition';
@import '../mixins/general';

#birdland-logo-container{
  @include resetMP;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -75px;
  width: 150px;
  height: 150px;
  cursor: pointer;
  @include transition-bezier(-webkit-filter 0.2s);

  &:hover{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -webkit-filter: drop-shadow( 1px 5px 5px rgba(72, 72, 72, 0.62));
    filter: drop-shadow( 1px 5px 5px rgba(72, 72, 72, 0.51));
  }

}